= provide(:title, "Home")
= render "static_pages/login"
#wrap
	#main
		%h2 Faceshite doesn't want to have anything to do with you.
	#sidebar
		%h2 Sign up
		%h3 if you must
		- if @user
			- @user.errors.full_messages.each do |msg|
				= msg
		= render "static_pages/signup"