%h1 Potential Acquaintances

- @strangers.each do |stranger|
	= link_to "#{stranger.fullname}", user_path(stranger)
	= link_to "Add as an acquaintance", relationships_path(acquaintance_id: stranger), method: :post