// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#email_label, #password_label
	color: white
	font-size: 0.8em
	position: absolute
	top: 15px
	right: 20px
#email_field, #password_field, #submit
	position: absolute
	top: 35px
	right: 20px
#email_label
	margin-right: 400px
#email_field
	margin-right: 278px
#password_label
	margin-right: 210px
#password_field
	margin-right: 106px
#submit
	margin-right: 40px
	input[type='submit']
		color: white
		background-color: #758ab6
		-webkit-border-radius: 1px
		border-radius: 1px